<h1>Photo Albums <small>Fun times and Travels</small></h1>
<!--
	

<div id="featured-slider"> 
	<%= image_tag("https://lh4.googleusercontent.com/-C_oBmEb-toI/Tjh_CtMt0UI/AAAAAAACoFo/_I7wysi4KsY/s800/DSC04746.JPG") %>
	<%= image_tag("https://lh4.googleusercontent.com/-H4R3TCfToGk/Tjh_lZTO3fI/AAAAAAACoGA/7CUB1wARyQA/s800/IMG_0754%252520%2525282%252529.JPG") %>
	<%= image_tag("https://lh4.googleusercontent.com/-C_oBmEb-toI/Tjh_CtMt0UI/AAAAAAACoFo/_I7wysi4KsY/s800/DSC04746.JPG") %>
	<%= image_tag("https://lh4.googleusercontent.com/-C_oBmEb-toI/Tjh_CtMt0UI/AAAAAAACoFo/_I7wysi4KsY/s800/DSC04746.JPG") %>	
</div>
-->


<script>
$(window).load(function() {
	$('#featured-slider').orbit();
});
</script>





<div id="gallery">
	<%= image_tag("https://lh5.googleusercontent.com/-kuujRGYnOiY/Tjh_lWxfkXI/AAAAAAAC6zg/X4137sh8L1g/s800/IMG_0312%252520%2525282%252529.JPG") %>
	<%= image_tag("https://lh4.googleusercontent.com/-S62qe8OENIQ/Tjh_lcr-fJI/AAAAAAAC6zg/6NAGODUWhB4/s800/IMG_0219.JPG") %>
	<%= image_tag("https://lh4.googleusercontent.com/-zxzGLRB9xuA/Tjh_lXcmkwI/AAAAAAAC6zg/3Ae0Fj5zIas/s800/IMG_0907%252520%2525282%252529.JPG") %>
	<%= image_tag("https://lh4.googleusercontent.com/-Xc_dzZRsH80/Txjb_cwWPCI/AAAAAAAC6e0/sYmYebTzdE8/s800/2010_08_30_10_46_020001.jpg") %>
	<%= image_tag("https://lh5.googleusercontent.com/-kuujRGYnOiY/Tjh_lWxfkXI/AAAAAAAC6zg/X4137sh8L1g/s800/IMG_0312%252520%2525282%252529.JPG") %>
	
	<%= image_tag("https://lh5.googleusercontent.com/-oJgjEBbCOm4/TxjcAAFsdeI/AAAAAAAC6e4/qqMj-k_S0vs/s800/IMG_4187.JPG") %>
	<%= image_tag("https://lh5.googleusercontent.com/-2930R7Qhlms/TxjcAuzOMuI/AAAAAAAC6e8/zFlio-PPRoQ/s800/IMG_4203.JPG") %>
	<%= image_tag("https://lh5.googleusercontent.com/--FddMOFn0oA/TxjcBBT4MjI/AAAAAAAC6fA/mJyQcELasIM/s800/IMG_4210.JPG") %>
	<%= image_tag("https://lh5.googleusercontent.com/-ZOyNLQYoOnM/TxjcGItMSbI/AAAAAAAC6Pc/dFNrRbSFpTo/s800/DSC04739.JPG") %>
	<%= image_tag("https://lh3.googleusercontent.com/-mWaDKsq0Y2M/TxjcIBXqxtI/AAAAAAAC6fM/9Kb6PPSf8ZA/s800/DSC04736.JPG") %>
</div>





<!--
<div id="galleria">
	<img src="/assets/slidepics/1.JPG">
    <img src="/assets/slidepics/2.JPG">
</div>-->




<script>
            $("#gallery").galleria({
                width: 1000,
                height: 600, 
				autoplay: 3000, 
				lightbox: true,
				imagePan: true,
				overlayBackground: '#FFFFF2',
				transition: 'fadeslide'
            });
</script>
