<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
	<div class="row">
		<div class="hero-unit">
				<div class="span6 pull-right">
					<div id="featured-slider"> 
						<%= image_tag("https://lh4.googleusercontent.com/-BnYP-S1SW5U/Tjh_lXUGPWI/AAAAAAAC6zg/KV4Ia5mZtQI/s288/IMG_0011.JPG") %>
						<%= image_tag("https://lh4.googleusercontent.com/-zxzGLRB9xuA/Tjh_lXcmkwI/AAAAAAAC6zg/3Ae0Fj5zIas/s288/IMG_0907%252520%2525282%252529.JPG") %>
					</div>
					
	  	  		</div>


		<div class="span7">
	       <h1>Our Wedding</h1></br>
	       <p>Ksenia Milovanova & David Gonen </br>Sunday March 25th, 2012 </br>Beverly Hills Hotel</p>
	       <p><%= link_to "Read More &raquo;".html_safe, info_path, :class => "btn primary large" %></p>
		</div>

		
     </div>


      <!-- Example row of columns -->
      <div class="row">
        <div class="span-one-third">
          <h2>Wedding Information</h2>
          <p>Will be held at the Beverly Hills Hotel on Sunday March 25, 2012</p>
			<%= image_tag("https://lh4.googleusercontent.com/-lwW0rDaYHXI/Tx4ZtJvV9xI/AAAAAAAC67M/oFzPbdvcSs0/s144/wedding-bouquet.jpg", :size => "144x144") %>
          <p><%= link_to "Click for more &raquo;".html_safe, info_path, :class => "btn" %></p>
        </div>
        <div class="span-one-third">
          <h2>Photo Albums</h2>
           <p>See pics of David & Ksenia.  Their travels and life together so far. </p>
			<%= image_tag("https://lh3.googleusercontent.com/-lkrv3BVN8t4/Tx4ZtAW41AI/AAAAAAAC67I/Pr3jPYCK0so/s144/vintage-photo-albums.jpg", :size => "144x144") %>
          <p><%= link_to "Click for more &raquo;".html_safe, albums_path, :class => "btn" %></p>
       </div>
        <div class="span-one-third">
          <h2>Gift Registry</h2>
          <p>Click to browse where Ksenia and David are registered for gifts.</p>
			<%= image_tag("https://lh3.googleusercontent.com/-QAZyVIZ8k2E/Tx4Zs42NaCI/AAAAAAAC67E/cgo5OHvo9uI/s144/box-present.jpg", :size => "144x144") %>
          <p><%= link_to "Click for more &raquo;".html_safe, registry_path, :class => "btn" %></p>
        </div>
      </div>

      <footer>
        <p>&copy; kseniadavid.com copyright 2012</p>
      </footer>

    </div> <!-- /container -->



	<script>
	$(window).load(function() {
		$('#featured-slider').orbit({
		        bullets: false,
		        animation: 'horizontal-slide',
				directionalNav: false,
				timer: true
		  });
	});
	</script>