<div class="content">
<h1>Gift Registry <small>Please choose a registry from the ones below. </small></h1>

 <!-- Example row of columns -->
  <div class="row">
    <div class="span12 offset3">
			<%= image_tag "http://www.hotelsoftherichandfamous.com/travel/images/The-Beverly-Hills-Hotel-and-Bungalows/the-beverly-hills-hotel-and-bungalows.jpg", :class=>"large" %>

    </div>

  </div>
</br>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span-one-third">
      <h2>Bloomingdales</h2>
      <p>Registry number: 686895</p>
	<p>Registered under: David Gonen or Ksenia Milovanova</p>
	
	<%= link_to "Link to Registry", "http://www1.bloomingdales.com/registry/wedding/registrant", :target => '_blank', :class => "btn primary large" %>
    </div>
    <div class="span-one-third">
      <h2>Nieman Marcus</h2>
<p>Registry Number: 400049336847</p>
	<p>Registered under: David Gonen or Ksenia Milovanova</p>
	<%= link_to "Link to Registry", "https://registry.neimanmarcus.com/napp/neimans", :target => '_blank', :class => "btn primary large" %>
   </div>
    <div class="span-one-third">
      <h2>Our Honeymoon</h2>
	<p>Contribute to our Honeymoon. </p><p>This portion of our site is currently under construction...</p>
	<%= link_to "Coming Soon", '', :class => "btn primary large", :disabled => true %>
	<!-- <%= link_to "Click to View", checkout_path, :class => "btn primary large" %> -->
 
    </div>



</div>