<div class="topbar">
     <div class="fill">
       <div class="container">
           <li class="brand"><%= link_to "Ksenia & David Wedding Website", "#" %></li>
         <ul class="nav">
           <li class="active"><a href="#">Home</a></li>
           <li><%= link_to "Wedding Party", "#" %></li>
           <li><%= link_to "Photo Albums", "#" %></li>
		   <li><%= link_to "Events", "#" %></li>
		   <li><%= link_to "Gift Registry", "#" %></li>
         </ul>
       </div>
     </div>
   </div>