<div class="topbar">
     <div class="fill">
       <div class="container">
           <li class="brand"><%= link_to "Ksenia & David Wedding Website", root_path %></li>
         <ul class="nav">
           <li class="<%= "active" if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
           <li class="<%= "active" if current_page?(info_path) %>"><%= link_to "Wedding Info", info_path, :rel => "popover", :title => "When, Where, What, How", :'data-content' => "Location, Dress Code, Time, etc." %></li>
           <li class="<%= "active" if current_page?(albums_path) %>"><%= link_to "Photo Albums", albums_path %></li>
		   <li class="<%= "active" if current_page?(registry_path) %>"><%= link_to "Gift Registry", registry_path %></li>
         </ul>
       </div>
     </div>
   </div>


   <script>
     $(function () {
       $("a[rel=popover]")
         .popover({
           offset: 2,
		   placement: 'below'
         })
         .click(function(e) {
           
         })
     })
   </script>