<div class="topbar">
     <div class="fill">
       <div class="container">
           <li class="brand"><%= link_to "Ksenia & David Wedding Website", root_path %></li>
         <ul class="nav">
           <li class="active"><%= link_to "Home", root_path %></li>
           <li><%= link_to "Wedding Info", info_path %></li>
           <li><%= link_to "Photo Albums", albums_path %></li>
		   <li><%= link_to "Gift Registry", registry_path %></li>
         </ul>
       </div>
     </div>
   </div>